.Carousel {
    position: absolute;
    height: 547px;
    top: 640px; 
}

.CarouselItem {
    margin: 0 auto;
    padding: 0 auto;
    position: absolute;
    width: 400px;
    height: 547px;
    /* left: 96px; */
    /* top: 610px;  */
}
