.form-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 8px;

    position: static;
    max-width: 252px !important;
    height: 36px;
    left: 0px;
    top: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 10px 0px;
}

.form-control {
    background-color: green;
}


.fieldHeader {
    padding: 6px 8px;
    font-size: 22px;
    padding-top: 20px;
}
