.loginmodal .modal-content {
    background-color: #FFF6EB;
    width: 480px;
    height: 350px;
    font-family: Assistant;
}

.loginmodal .modalTitleTop {
    position: static;
    width: 300px;
    height: 72px;
    left: 59px;
    top: 0px;
  
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px 2px 0px;
}
  
.loginmodal .modalTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 4px 24px 4px 4px;

    position: absolute;
    width: auto;
    height: 50px;
    top: 0px;

    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;

    color: #020A2F;
    margin: 20px 0px;
}

.loginmodal .modalTitleUnderline {
    position: absolute;
    width: 300px;
    height: 6px;
    right: 0px;
    top: 72px;
    
    background: #D31172;
    border-radius: 6px 0px 0px 6px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.loginmodal .modalSubmitButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 90px;
    height: 38px;
    left: 20px;
    bottom: 20px;

    color: #FFFDFA;
    background: #D31172;
    font-size: 22px;
    line-height: 31px;

    border: 2px solid #FFFDFA;
    box-sizing: border-box;
    border-radius: 12px;
}

.loginmodal .modalSubmitButton:disabled {
    background: #cccccc;
}