.LandingTop .LandingBottom {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
}


.LandingTop {
    height: 430px;
    background: #EE2A7C;
    top: 0;
}

.LandingBottom {
    bottom: 0;
}


.LandingLeft {
    position:relative;
    float: left;
    width: 50%;
}

.LandingLeftImage {
    position: absolute;
    width: 288px;
    height: 439px;
    left: 100px;
    top: 10px;
}

.LandingRightLogo {
    width: 50%;
    position: absolute;
    top: 150px;
    text-align: center;
} 

.LandingRightButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
   
    align-items: center;
    width: 50%;
    position: absolute;
    top: 300px;
    text-align: center;
}

.SignUpCompany{
    font-size: 18px;

    width: 230px;
    margin: 20px;
    height: 50px;

    border: 2px solid #FFFDFA;
    box-sizing: border-box;
    border-radius: 12px;
    line-height: 13px;
}

.SignUpJunior {
    font-size: 18px;

    width: 230px;
    margin: 20px;
    height: 50px;

    border: 2px solid #FFFDFA;
    box-sizing: border-box;
    border-radius: 12px;
    line-height: 13px;
}

.LandingRight {
    float: right;
    width: 50%;
}

.LandingBottom h1 {
    width: 300px;
    height: 44px;
    right: 96px;
    top: 493px;
    float: right;
    padding-top: 36px;
    padding-bottom: 36px;
    line-height: 44px;
    font-size: 36px;

}

.LandingBottomButton {
    font-size: 2.5em;
    text-align: center;
    color: rgb(83, 93, 102);
    background-color: 'transparent';
    cursor: pointer;
    width: fit-content;
}

.NewProject {
    min-height: min-content;
    width: min-content;
    align-content: center;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) and (min-height: 400px) {
    .Landing {
        display: flex;
        flex-direction: row;
        width: fit-content;
        padding: 40px;
        height: 100vh;
    }
    
    .LandingLeft {
        align-self: center;
        padding: 20px;
    }
    
    .LandingLeft h1 {
        padding-left: 20px;
        font-family: "Trebuchet MS", sans-serif;
        font-size: 5em;
        text-align: left;
        letter-spacing: -2px;
        text-transform: uppercase;
    }
    
    .LandingLeft h1 span {
        font-size: 80%;
    }
    
    .LandingLeft p {
        align-self: center;
        text-align: left;
        max-width: 70%;
        padding-left: 20px;
    }
    
    .LandingLeft div {
        display: flex;
        /* flex-direction: row; */
        min-width: 40%;
        margin: 16px;
    }
    
    .LandingRight {
        align-self: center;
        padding: 20px;
    }

    .LandingRight img {
        height: 52vh;
        width: 44vw;
    }
}