.LandingTop .LandingBottom {
    position: fixed;
    left: 0;
    right: 0;
    /* width: 100%; */
}


.LandingTop {
    top: 20px;
    position: absolute;
    width: 100%;
    height: 485px;
    background-image: url(./images/LandingPageBackGroundWithAvatars.jpeg);
}

.LandingTopButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 390px;
}

.SignUpButton {
    width: 252px;
    height: 56px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    border: 2px solid #D31172;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: Transparent;
}

.SignUpButton a {
    color: #D31172;
}

.SignUpButton a:hover {
    color: #D31172;
}

.SignUpButton:hover {
    font-size: 28px;
    color: #D31172;
}

.LandingBottom {
    bottom: 0;
    height: 1100px;
}

.LandingBottomHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 322px;
    height: 50px;
    left: 1146px;
    top: 550px;
}

.LandingBottomHeaderRight h1 {
    position: static;
    height: 42px;
    left: 0px;
    padding-right: 60px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;

    color: #020A2F;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}

.LandingBottomUnderline {
    position: static;
    width: 100%;
    height: 6px;
    left: 0px;
    top: 44px;

    background: #D31172;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
}

.LandingBottomHeaderLeft {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    width: 350px;
    height: 64px;
    left: 10px;
    top: 540px;
    padding-left: 50px;
}

.NewProjectButton {
    position: absolute;
    left: 30px;
    top: -13px;
}

.NewProjectSVG:hover {
    /* opacity: 70%; */
    transform: scale(1.05);
}

.LandingBottomHeaderNewProjectButton {
    position: absolute;
    top: 0px;
    border: transparent;
    background-color: transparent;
}

.LandingBottomHeaderLeftButton {
    position: absolute;
    width: 141px;
    height: 25px;
    left: 10px;    
    font-size: 22px;
    line-height: 22px;
    flex: none;
    flex-grow: 0;
    margin: 0px 24px;
    background-color: transparent;
    border: none;
}

.LandingBottomHeaderLeftButton a {
    color: black;
    
}

.LandingBottomHeaderLeftButton a:hover {
    /* opacity: 50%; */
    font-size: 24px;
    color: black;
}


.AllItemsTop .AllItemsBottom {
    position: fixed;
    left: 0;
    right: 0;
}

.AllItemsTop {
    top: 15px;
    position: absolute;
    width: 100%;
    height: 485px;
    overflow-x:hidden;
}

.AllItemsBottom {
    height: 100%;
}

.AllItemsHeaderRight {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 340px;
    height: 50px;
    right: 0px;
    top: 550px;
}

.AllItemsHeaderRight h1 {
    position: static;
    width: auto;
    height: 42px;
    left: 0px;
    padding-right: 80px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;

    color: #020A2F;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 2px 0px;
}

.AllItemsHeaderUnderline {
    position: static;
    width: 100%;
    height: 6px;
    left: 0px;

    background: #D31172;
    border-radius: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 2px 0px;
}

.AllItemsBottom {
    height: 100%;
}

.AboutPar {
    position: absolute;
    font-size: 18px;
    top: 210px;
    direction: rtl;
    padding-right: 40px;
    text-align: justify;
}